@model ClassTask1.EF.Category

<h2>Create Category</h2>
<form method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>