@model ClassTask1.EF.Product

<h2>Create Product</h2>
<form method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <input type="number" name="Price" placeholder="Price" class="form-control" />
    <input type="number" name="Qty" placeholder="Quantity" class="form-control" min="1" />
    @Html.ValidationMessageFor(model => model.Qty)
    <select name="Cid" class="form-control">
        @foreach (var category in ViewBag.Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>